In [2]:
import pandas as pd

In [9]:
meta = pd.read_csv('vox1_meta.csv', sep='\t')

In [10]:
meta

     VoxCeleb1 ID     VGGFace1 ID Gender Nationality  Set
0         id10001    A.J._Buckley      m     Ireland  dev
1         id10002     A.R._Rahman      m       India  dev
2         id10003      Aamir_Khan      m       India  dev
3         id10004     Aaron_Tveit      m         USA  dev
4         id10005       Aaron_Yoo      m         USA  dev
...           ...             ...    ...         ...  ...
1246      id11247    Zachary_Levi      m         USA  dev
1247      id11248  Zachary_Quinto      m         USA  dev
1248      id11249     Zack_Snyder      m         USA  dev
1249      id11250     Zoe_Saldana      f         USA  dev
1250      id11251     Zulay_Henao      f         USA  dev

[1251 rows x 5 columns]

In [16]:
def GetIds(male=True):
    g = 'm' if male else 'f'
    return meta[meta["Gender"] == g]['VoxCeleb1 ID']

In [17]:
male_ids = set(GetIds())
female_ids = set(GetIds(male=False))

In [22]:
# TODO: change to get the right vox2 format and change to vox2 (or use metadata from vox1)
file_list = pd.read_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_full.txt', header=None, sep=' ')

In [23]:
file_list

       0                              1                              2
0      1  id10270/x6uYqmx31kE/00001.wav  id10270/8jEAjG6SegY/00008.wav
1      0  id10270/x6uYqmx31kE/00001.wav  id10300/ize_eiCFEg0/00003.wav
2      1  id10270/x6uYqmx31kE/00001.wav  id10270/GWXujl-xAVM/00017.wav
3      0  id10270/x6uYqmx31kE/00001.wav  id10273/0OCW1HUxZyg/00001.wav
4      1  id10270/x6uYqmx31kE/00001.wav  id10270/8jEAjG6SegY/00022.wav
...   ..                            ...                            ...
37715  0  id10309/0cYFdtyWVds/00005.wav  id10302/K2_D_tFdAgY/00036.wav
37716  1  id10309/0cYFdtyWVds/00005.wav  id10309/0b1inHMAr6o/00010.wav
37717  0  id10309/0cYFdtyWVds/00005.wav  id10289/8l5ZnDf-FUA/00012.wav
37718  1  id10309/0cYFdtyWVds/00005.wav  id10309/rxnN8thYzEQ/00017.wav
37719  0  id10309/0cYFdtyWVds/00005.wav  id10296/Y-qKARMSO7k/00001.wav

[37720 rows x 3 columns]

In [44]:
file_list[[x.split('/')[0] in female_ids for x in file_list[1]]]

       0                              1                              2
0      1  id10270/x6uYqmx31kE/00001.wav  id10270/8jEAjG6SegY/00008.wav
1      0  id10270/x6uYqmx31kE/00001.wav  id10300/ize_eiCFEg0/00003.wav
2      1  id10270/x6uYqmx31kE/00001.wav  id10270/GWXujl-xAVM/00017.wav
3      0  id10270/x6uYqmx31kE/00001.wav  id10273/0OCW1HUxZyg/00001.wav
4      1  id10270/x6uYqmx31kE/00001.wav  id10270/8jEAjG6SegY/00022.wav
...   ..                            ...                            ...
36395  0  id10308/MxBuaaxNnlE/00005.wav  id10300/VHWZdctr_4s/00002.wav
36396  1  id10308/MxBuaaxNnlE/00005.wav  id10308/rgpPBT4yQcg/00007.wav
36397  0  id10308/MxBuaaxNnlE/00005.wav  id10292/gm6PJowclv0/00024.wav
36398  1  id10308/MxBuaaxNnlE/00005.wav  id10308/ygGJs_Rh7ds/00001.wav
36399  0  id10308/MxBuaaxNnlE/00005.wav  id10303/Zs8VK91yVMI/00002.wav

[11024 rows x 3 columns]

In [25]:
file_list[[x.split('/')[0] in male_ids for x in file_list[1]]].to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_male.txt', index=False, header=None, sep=' ')

In [26]:
file_list[[x.split('/')[0] in female_ids for x in file_list[1]]].to_csv('/home/jupyter/voxceleb-fairness/data/lists/vox1_female.txt', index=False, header=None, sep=' ')